.register-form button{
    font-size: 2em;
    padding: 22px 60px;
  
}

@media (max-width: 767px) { 
    .register-form button{
        font-size: 1.5em;
        padding: 16px 40px;
        margin: auto;
    }
}