.register-form button{
    font-size: 1.4rem;
    padding: 1rem 3rem;
  
}


@media (max-width: 1300px) { 
    .register-form button{
        font-size: 1.5rem;
        padding: 0.75rem 2.75rem;
        margin: auto;
    }
}


@media (max-width: 767px) { 
    .register-form button{
        font-size: 1.5rem;
        padding: 1rem 2.25rem;
        margin: auto;
    }
}