.navbar-dark .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.navbar{
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    max-height: 20vh;
}




.navbar button {
    width: 190px;
    height: 42px;
}




.navbar-dark button.navbar-toggler {
    color: #FFFFFF;
    border-color: rgba(255,255,255,.1);
    width: 60px ;
    height: 60px;
    padding: 0px;
}

@media (max-width: 767px) { 

    .navbar.expanded,
.navbar.expanded #responsive-navbar-nav{
    background-color: #000000;
}

.navbar.expanded #responsive-navbar-nav{
    padding: 20px 50px;
}

    .navbar-dark .navbar-nav .nav-link{
        font-size: 18px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

.navbar{
     max-height: 40vh;
}
    
}



@media (max-width: 420px) { 
    .navbar-brand{
        max-width: 150px;
    }

    .navbar-dark button.navbar-toggler {
   
        width: 40px ;
        height: 40px;
    }
}
