.hero{
    
}


.black-box{  
    width: 330px;
    height: 290px; 
    background: #000000;  
    margin-left: -30px;
}

.title-box{
    position: absolute;
    top: 20%;
    text-align: right;
}

.hero-title{
    color: #FFFFFF;
    font-family: 'Virgula Vulgaris', sans-serif;
    font-weight: bold;
    font-size: 64px;
    text-align: right;
}

.hero button{
    font-size: 36px;
    padding: 22px 60px;
    margin-left: auto;
    margin-top: 34px;
}


@media (max-width: 600px) {
    
    .black-box {  
    width: 200px;
    height: 180px; 
    margin-left: 0px;
 }
 .hero-title{
   font-size: 48px;
}

.hero button{
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 34px;
}


}


@media (max-width: 400px) {
    
    .black-box {  
    width: 160px;
    height: 140px; 
    background: #000000; 
 }
 .hero-title{
   font-size: 36px;
}

}