.register-modal-title{
    font-weight: bold;
    font-size: 3.55em;
    color: #FFFFFF;
 
}

.modal-header button span:nth-child(1){

    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: inline-table;
    color: white;
    font-size: 40px;
}

.modal-content button.close{
    position: absolute;
    right: 20px;
}

.modal-content input[type=checkbox] {
    padding: 0;
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.modal-content label.form-check-label {
    padding-top: 5px;
    margin-left: 20px;
}


