.form-control {
  height: 3.66rem;
  padding: 0.2em 1.25em;
  font-size: 1.33em;
  color: #858585;
  background-color: #d8d8d8;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  transition: all 0.15s ease-in-out;
  transition-property: border-color, box-shadow, background-color;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 60%);
}

input[type='checkbox'] {
  appearance: none;
  padding: 0;
  width: 2.33rem;
  height: 2.33rem;
  border-radius: 0.25rem;
  -webkit-print-color-adjust: exact;
  user-select: none;
  background-color: white;
}

[type='checkbox']:checked {
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.form-check-label {
  margin-left: 3rem;
  font-size: 1.33rem;
  color: #ffffff;
}

.form-check {
  padding-left: unset;
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-top: 0;
}

/* @media (max-width: 991px) {

  input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
  }
} */

@media (max-width: 767px) {
  input[type='checkbox'] {
    width: 35px;
    height: 35px;
  }
  .form-check-label {
    margin-left: 2.67rem;
    font-size: 1.33rem;
  }
}

@media (max-width: 567px) {
  input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
  }
  .form-check-label {
    margin-left: 30px;
    font-size: 1.25rem;
  }
}
