.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 5rem 8rem 2rem;
}

.footer-title {
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.02em;
  max-width: 50vw;
}

.footer-base {
  margin-top: 7rem;
  text-align: center;
}

.copyright {
  font-size: 1rem;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .footer {
    padding: 4rem 3rem 2rem;
  }
  .footer-title {
    font-size: 2.5rem;
    max-width: 100vw;
  }
}

@media (max-width: 578px) {
  .footer {
    padding: 3rem 2rem 2rem;
  }

  .footer-logo {
    max-width: 150px;
  }
  .copyright {
    font-size: 1rem;
  }
}
